.experience-list__title {
  width: 100%;
  border-top: solid 2px rgb(177, 177, 177);
  border-bottom: solid 2px rgb(177, 177, 177);
  font-weight: bolder;
  margin-bottom: 10px;
  padding-bottom: 8px;
  padding-top: 8px;
}
