.contact {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
  justify-content: space-between;
  align-items: flex-start;
  height: 15%;
  color: $sidebarFont;
}

.contact__info {
  margin-bottom: 10px;
}

.contact__info-icon {
  margin-right: 10px;
}
