.education {
  color: white;

  .education__info {
    margin-top: 10px;
    display: flex;
    flex-direction: column;

    .education__info-title {
      font-weight: bolder;
      font-size: 20px;
      margin-bottom: 5px;
    }

    .education__info-dates {
      font-style: italic;
      font-size: small;
      margin-bottom: 5px;
    }
  }
}
