.sidebar {
  background-color: $primary;
  width: 35%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.sidebar-section-title {
  background-color: $second;
  width: 100%;
  padding-left: 20px;
  padding-right: 25px;
  margin-bottom: 15px;
}

.sidebar-section-container {
  width: 100%;
  padding-left: 20px;
  padding-right: 25px;
}
